body {
  margin: 0;
  width: 50%;
  margin-left: 25%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  min-width: 80px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  margin-bottom: 1rem;
}
